<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contact page</title>
  </head>
  <body>
    <h1>send us email</h1>
    <form method="post" action="/">
      <input name="email" type="email" placeholder="enter your email" />
      <button type="submit">send</button>
    </form>
    <a href="/main">go to main page</a>
    <a href="/about">go to about page</a>
  </body>
</html>